<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Search</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <!-- Vue material -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-material"></script>
</head>
<body>

<div id="search_app">
    <md-toolbar class="md-transparent">
        <div class="md-toolbar-row row">
            <div class="md-toolbar-section-start col-3">
                <md-button class="md-icon-button">
                    <md-icon>menu</md-icon>
                </md-button>
            </div>

            <md-content :class="['col-6 md-elevation-5 px-3 py-2 dropdown-search', {show:isShowSearchBox}]"
                        v-handle-click-outside="clickOutsideSearchBox"
                        id="dropdown-search">
                <div class="position-relative">
                    <md-icon class="position-absolute color-grey">search</md-icon>
                    <input class="w-100 border border-0 invisible-focus search-input"
                           placeholder="Search"
                           @focus="focusSearchBox=true" @keyup.enter.prevent="advancedSearch()"
                           v-model="searchText"
                    />
                    <span v-if="searchText || globalSearchType.val !== null" @click="clearSearch()"
                          class="position-absolute color-grey search-close">
                        <md-icon>close</md-icon>
                    </span>
                </div>
                <div class="dropdown-search-menu w-100 align-items-center pb-0"
                     v-handle-click-outside="clickOutsideSearchMenu">
                    <div v-if="globalSearchType.val === SEARCH_ADVANCED_TYPE.val" class="px-3 py-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <span class="color-grey-600">Type</span>
                                </div>
                                <div class="col-9">
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <md-field>
                                                <md-select v-model="forms.searchType.val" placeholder="Type">
                                                    <md-option v-for="item in forms.searchType.choices"
                                                               :value="item.val">${item.label}}
                                                    </md-option>
                                                </md-select>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <span class="color-grey-600">Owner</span>
                                </div>
                                <div class="col-9">
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <md-field>
                                                <md-select v-model="forms.owner.val" placeholder="Owner">
                                                    <md-option v-for="item in forms.owner.choices"
                                                               :value="item.val">${item.label}}
                                                    </md-option>
                                                </md-select>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 offset-3" v-if="forms.owner.val===forms.owner.ids.SPECIFIC">
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <md-field class="position-relative">
                                                <md-select v-model="forms.users.val" placeholder="Select a person">
                                                    <md-option v-for="item in forms.users.choices"
                                                               :value="item.id">${item.name}}
                                                    </md-option>
                                                    <md-option
                                                            v-if="!forms.users.choices || forms.users.choices.length<1"
                                                    >Trống
                                                    </md-option>
                                                </md-select>
                                                <span class="position-absolute search-clear-user"
                                                      v-if="forms.users.val"
                                                      @click="forms.users.val=null"
                                                >
                                                    <md-icon>remove_circle</md-icon>
                                                </span>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 offset-3">
                                    <div class="d-flex justify-content-between">
                                        <md-checkbox v-model="forms.starred.val">${forms.starred.label}}</md-checkbox>
                                        <md-checkbox v-model="forms.trash.val">${forms.trash.label}}</md-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <span class="color-grey-600">Date modified</span>
                                </div>
                                <div class="col-9">
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <md-field>
                                                <md-select v-model="forms.modifiedType.val"
                                                           placeholder="Date modified">
                                                    <md-option
                                                            v-for="item in forms.modifiedType.choices"
                                                            :value="item.val">
                                                        ${item.label}}
                                                    </md-option>
                                                </md-select>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-if="forms.modifiedType.val==forms.modifiedType.ids.RANGE">
                                <div class="col-3 d-flex align-items-center">
                                    <span class="color-grey-600">Modified Between</span>
                                </div>
                                <div class="col-9">
                                    <div class="md-layout">
                                        <div class="md-layout-item w-50 pr-2">
                                            <md-datepicker v-model="forms.modifiedDateFrom.val"></md-datepicker>
                                        </div>
                                        <div class="md-layout-item w-50 pl-2">
                                            <md-datepicker v-model="forms.modifiedDateTo.val"></md-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <span class="color-grey-600">Item Name/Title</span>
                                </div>
                                <div class="col-9">
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <md-field md-inline>
                                                <label>Enter a term that matches part of the...</label>
                                                <md-input v-model="forms.itemNameTitle.val"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <span class="color-grey-600">Has the words</span>
                                </div>
                                <div class="col-9">
                                    <div class="md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <md-field md-inline>
                                                <label>Enter words found in the item</label>
                                                <md-input v-model="forms.containWords.val"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right mt-2">
                                <md-button class="md-raised" @click="resetSearch()">RESET</md-button>
                                <md-button class="md-raised md-primary" @click="advancedSearch()">SEARCH</md-button>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="globalSearchType.val === globalSearchType.ids.SITE">
                        <div v-for="(item, index) in sites"
                             class="dropdown-item">
                            <md-icon class="mr-3 mb-1">article</md-icon>
                            <span>${item.name}}</span>
                            <span class="float-right">${item.updateAt}}</span>
                        </div>
                        <div v-if="!sites || sites.length<1" class="dropdown-item text-center">
                            <span>Trống</span>
                        </div>
                    </div>
                    <div v-else-if="globalSearchType.val === globalSearchType.ids.PAGE">
                        <div v-for="(item, index) in pages" class="dropdown-item">
                            <md-icon class="mr-3 mb-1">web</md-icon>
                            <span>${item.name}}</span>
                            <span class="float-right">${item.updateAt}}</span>
                        </div>
                        <div v-if="!pages || pages.length<1" class="dropdown-item text-center">
                            <span>Trống</span>
                        </div>
                    </div>
                    <div v-else-if="globalSearchType.val === globalSearchType.ids.ALL">
                        <div v-for="(item, index) in pages" class="dropdown-item">
                            <md-icon class="mr-3 mb-1">web</md-icon>
                            <span>${item.name}}</span>
                            <span class="float-right">${item.updateAt}}</span>
                        </div>
                        <div v-for="(item, index) in sites" class="dropdown-item">
                            <md-icon class="mr-3 mb-1">article</md-icon>
                            <span>${item.name}}</span>
                            <span class="float-right">${item.updateAt}}</span>
                        </div>
                        <div v-if="(!pages || pages.length<1) && (!sites || sites.length<1)"
                             class="dropdown-item text-center">
                            <span>Trống</span>
                        </div>
                    </div>
                    <div v-else="">
                        <div>
                            <div v-for="(item, key) in globalSearchType.choices"
                                 @click="setGlobalSearchType(item.val)"
                                 v-if="item.val!=globalSearchType.ids.ALL"
                                 class="dropdown-item">
                                <md-icon class="mr-3 mb-1">${item.icon}}</md-icon>
                                <span>${item.label}}</span>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div class="my-2">
                            <div class="dropdown-item" @click="setGlobalSearchType(SEARCH_ADVANCED_TYPE.val)">
                                <span><b>Advanced Search</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>

            <div class="md-toolbar-section-end col-3">
                <md-button class="md-icon-button">
                    <md-icon>refresh</md-icon>
                </md-button>

                <md-button class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>

</div>

<script type="text/javascript">
  Vue.use(VueMaterial.default);
  const API_PATH = 'http://localhost:3000';
  const activeUser = {
    "name": "user_1",
    "email": "user_1@nc.com",
    "id": 1
  };// Assume that user logged in and i have user data
  const getFullPath = function (params = []) {
    if (!params) return '';
    if (!Array.isArray(params)) return API_PATH + '/' + params;
    return API_PATH + '/' + params.join('/');
  };
  const formatDate = function (date) {
    if (!date || !parseInt(date)) return '';
    return new Date(parseInt(date)).toDateString().substr(3);
  };
  const ConstantMap = function (data) {
    let constant = [];
    for (let key in data) {
      constant[key] = data[key].val;
    }
    let constantMap = {
      constant: constant,
      choices: data,
      findKeyById: function (id) {
        if (id === null) return id;
        const choices = this.choices;
        window.cc = choices;
        for (let item in choices) {
          if (choices[item].val === id) return item;
        }
      }
    };
    return constantMap;
  };
  const SEARCH_TYPE = ConstantMap({
    ALL: {label: 'All types', placeholder: '', icon: '', val: -1},
    SITE: {label: 'Sites', placeholder: 'type:site', icon: 'article', val: 1},
    PAGE: {label: 'Pages', placeholder: 'type:page ', icon: 'web', val: 2}
  });
  SEARCH_ADVANCED_TYPE = {label: 'Advanced Search', placeholder: '', val: 9};
  const OWNER = ConstantMap({
    ALL: {label: 'Anyone', placeholder: '', val: -1},
    BY_ME: {label: 'Owned by me ', placeholder: 'owner:me', val: 1},
    NOT_BY_ME: {label: 'Not owned by me', placeholder: '!owner:me', val: 2},
    SPECIFIC: {label: 'Specific person...', placeholder: 'owner:', val: 3}
  });
  const MODIFIED_TYPE = ConstantMap({
    ANY: {label: 'Anytime', placeholder: '', val: -1},
    TODAY: {label: 'Today ', placeholder: 'modified:today', val: 1},
    YESTERDAY: {label: 'Yesterday', placeholder: 'modified:yesterday', val: 2},
    NINETY_DAYS: {label: 'Last 90 days', placeholder: 'modified:90 days', val: 3},
    RANGE: {label: 'Date range', placeholder: '', val: 4}
  });

  const app = new Vue({
    delimiters: ['${', '}}'],
    el: '#search_app',
    data: () => ({
      globalSearchType: {
        choices: SEARCH_TYPE.choices,
        ids: SEARCH_TYPE.constant,
        val: SEARCH_ADVANCED_TYPE.val,
      },
      SEARCH_ADVANCED_TYPE: SEARCH_ADVANCED_TYPE,
      focusSearchItem: true,
      focusSearchBox: true,
      focusSearchMenu: true,
      searchText: '',
      forms: {
        searchType: {
          choices: SEARCH_TYPE.choices,
          val: SEARCH_TYPE.constant.ALL,
        },
        owner: {
          choices: OWNER.choices,
          ids: OWNER.constant,
          val: OWNER.constant.ALL,
        },
        users: {
          choices: [],
          val: 0,
        },
        starred: {label: 'Starred', placeholder: 'is:starred', val: null},
        trash: {label: 'In Trash', placeholder: 'is:trash', val: null},
        modifiedType: {
          choices: MODIFIED_TYPE.choices,
          ids: MODIFIED_TYPE.constant,
          val: MODIFIED_TYPE.constant.ANY,
        },
        modifiedDateFrom: {val: null},
        modifiedDateTo: {val: null},
        itemNameTitle: {val: ''},
        containWords: {val: ''},
      },
      searchResult: {
        sites: [],
        pages: [],
      },
    }),
    methods: {
      setSearchText: function (txt = '') {
        this.searchText = txt;
      },
      setGlobalSearchType: function (val = null) {
        this.focusSearchItem = true;
        this.globalSearchType.val = val;
      },
      clickOutsideSearchBox: function (ev) {
        this.focusSearchBox = false;
        if (!this.focusSearchBox && !this.focusSearchMenu && !this.globalSearchType.val) this.focusSearchItem = false;
      },
      clickOutsideSearchMenu: function (ev) {
        this.focusSearchMenu = false;
        if (!this.focusSearchBox && !this.focusSearchMenu && !this.globalSearchType.val) this.focusSearchItem = false;
      },
      resetSearch: function () {
        this.setSearchText('');
        this.forms.searchType.val = SEARCH_TYPE.constant.ALL;
        this.forms.owner.val = OWNER.constant.ALL;
        this.forms.users.val = 0;
        this.forms.starred.val = null;
        this.forms.trash.val = null;
        this.forms.modifiedType.val = MODIFIED_TYPE.constant.ANY;
        this.forms.modifiedDateFrom.val = null;
        this.forms.modifiedDateTo.val = null;
        this.forms.itemNameTitle.val = '';
        this.forms.containWords.val = '';

      },
      clearSearch: function () {
        this.focusSearchBox = true;
        this.focusSearchItem = true;
        this.setSearchText('');
        this.setGlobalSearchType(null);
      },
      findUserById: function (users, id) {
        if (!users || !Array.isArray(users)) return null;
        for (let index in users) {
          if (users[index] && users[index].id === id) return users[index];
        }
      },
      advancedSearch: function () {
        this.focusSearchMenu = true;
        this.focusSearchItem = true;
        this.setGlobalSearchType(SEARCH_TYPE.constant.ALL);
        const self = this;
        fetch(getFullPath('search/all/')).then(function (res) {
          return res.json();
        }).then(function (data) {
          if (data) {
            if (Array.isArray(data.sites)) self.searchResult.sites = data.sites;
            if (Array.isArray(data.pages)) self.searchResult.pages = data.pages;
          }
        })
      },
      userSearch: function () {
        const self = this;
        const userLimit = Math.floor(Math.random() * 10 + 5)
        fetch(getFullPath('users/') + '?limit=' + userLimit).then(function (res) {
          return res.json();
        }).then(function (data) {
          if (data && data.users && Array.isArray(data.users)) self.forms.users.choices = data.users;
        })
      },
      basicSearch: function (type) {
        if (type !== SEARCH_TYPE.constant.SITE && type !== SEARCH_TYPE.constant.PAGE) return;
        const self = this;
        fetch(getFullPath('search/all/')).then(function (res) {
          return res.json();
        }).then(function (data) {
          if (data) {
            if (type === SEARCH_TYPE.constant.SITE && data.sites && Array.isArray(data.sites)) {
              self.searchResult.sites = data.sites;
            } else if (type === SEARCH_TYPE.constant.PAGE && data.pages && Array.isArray(data.pages)) {
              self.searchResult.pages = data.pages;
            }
          }
        })
      },
    },
    computed: {
      isShowSearchBox: function () {
        return this.focusSearchBox || this.focusSearchMenu || this.focusSearchItem;
      },
      sites: function () {
        if (!this.searchResult.sites) return [];
        if (this.forms.searchType.val === SEARCH_TYPE.constant.PAGE) return [];
        const self = this;
        return this.searchResult.sites.filter(function (it, id) {
          let match = true;
          if (self.forms.owner.val) {
            let ownerType = self.forms.owner.val;
            if (ownerType === OWNER.constant.BY_ME) match = match && it.ownerId === activeUser.id;
            else if (ownerType === OWNER.constant.SPECIFIC) match = match && it.ownerId === self.forms.users.val;
            else if (ownerType === OWNER.constant.NOT_BY_ME) match = match && it.ownerId !== activeUser.id;
          }
          if (self.forms.starred.val !== null) match = match && it.starred === self.forms.starred.val;
          if (self.forms.trash.val !== null) match = match && it.trash === self.forms.trash.val;
          if (self.forms.modifiedType.val) {
            const A_DAY = 86400000;
            let modifiedType = self.forms.modifiedType.val;
            let fromDate, toDate;
            let updateAt = parseInt(it.updateAt);
            if (modifiedType === MODIFIED_TYPE.constant.RANGE) {
              fromDate = self.forms.modifiedDateFrom.val;
              toDate = self.forms.modifiedDateTo.val;
              match = match && (updateAt > fromDate && updateAt <= toDate);
            } else if (modifiedType !== MODIFIED_TYPE.constant.ANY) {
              toDate = new Date().getTime();
              if (modifiedType !== MODIFIED_TYPE.constant.TODAY) {
                fromDate = toDate - A_DAY;
              } else if (modifiedType !== MODIFIED_TYPE.constant.YESTERDAY) {
                fromDate = toDate - A_DAY * 2;
                toDate = toDate - A_DAY;
              } else if (modifiedType !== MODIFIED_TYPE.constant.NINETY_DAYS) {
                fromDate = toDate - A_DAY * 90;
                toDate = toDate;
              }
              match = match && (updateAt > fromDate && updateAt <= toDate);
            }
          }
          if (self.forms.itemNameTitle.val)
            match = match && it.name.toLowerCase().indexOf(self.forms.itemNameTitle.val.toLowerCase()) > 0;
          if (self.forms.containWords.val) {
            match = match && it.name.toLowerCase().indexOf(self.forms.containWords.val.toLowerCase()) > 0;
          }
          return match;
        }).map(function (it, id) {
          return {...it, updateAt: it.updateAt ? formatDate(it.updateAt) : ''}
        });
      },
      pages: function () {
        if (!this.searchResult.pages) return [];
        if (this.forms.searchType.val === SEARCH_TYPE.constant.SITE) return [];
        const self = this;
        return this.searchResult.pages.filter(function (it, id) {
          let match = true;
          if (self.forms.owner.val) {
            let ownerType = self.forms.owner.val;
            console.log(ownerType);
            if (ownerType === OWNER.constant.BY_ME) match = match && it.ownerId === activeUser.id;
            else if (ownerType === OWNER.constant.SPECIFIC) match = match && it.ownerId === self.forms.users.val;
            else if (ownerType === OWNER.constant.NOT_BY_ME) match = match && it.ownerId !== activeUser.id;
          }
          if (self.forms.starred.val !== null) match = match && it.starred === self.forms.starred.val;
          if (self.forms.trash.val !== null) match = match && it.trash === self.forms.trash.val;
          if (self.forms.modifiedType.val) {
            const A_DAY = 86400000;
            let modifiedType = self.forms.modifiedType.val;
            let fromDate, toDate;
            let updateAt = parseInt(it.updateAt);
            if (modifiedType === MODIFIED_TYPE.constant.RANGE) {
              fromDate = self.forms.modifiedDateFrom.val;
              toDate = self.forms.modifiedDateTo.val;
            } else if (modifiedType !== MODIFIED_TYPE.constant.ANY) {
              toDate = new Date().getTime();
              if (modifiedType !== MODIFIED_TYPE.constant.TODAY) {
                fromDate = toDate - A_DAY;
              } else if (modifiedType !== MODIFIED_TYPE.constant.YESTERDAY) {
                fromDate = toDate - A_DAY * 2;
                toDate = toDate - A_DAY;
              } else if (modifiedType !== MODIFIED_TYPE.constant.NINETY_DAYS) {
                fromDate = toDate - A_DAY * 90;
                toDate = toDate;
              }
            }
            match = match && (updateAt > fromDate && updateAt <= toDate);
          }
          if (self.forms.itemNameTitle.val)
            match = match && it.name.toLowerCase().indexOf(self.forms.itemNameTitle.val.toLowerCase()) > 0;
          if (self.forms.containWords.val) {
            match = match && it.name.toLowerCase().indexOf(self.forms.containWords.val.toLowerCase()) > 0;
          }
          return match;
        }).map(function (it, id) {
          return {...it, updateAt: it.updateAt ? formatDate(it.updateAt) : ''}
        });
      },
    },
    watch: {
      'forms': {
        handler: function (forms) {
          this.focusSearchItem = true;
          let key = SEARCH_TYPE.findKeyById(forms.searchType.val);
          let searchText = (
            (key === null || forms.searchType.val === SEARCH_TYPE.constant.ALL)
              ? '' : SEARCH_TYPE.choices[key].placeholder + ' '
          );
          key = OWNER.findKeyById(forms.owner.val);
          if (forms.owner.val === OWNER.constant.BY_ME || forms.owner.val === OWNER.constant.NOT_BY_ME) {
            searchText += (OWNER.choices[key].placeholder + ' ');
          } else if (forms.owner.val === OWNER.constant.SPECIFIC) {
            let user = this.findUserById(forms.users.choices, forms.users.val);
            if (user && user.hasOwnProperty('name'))
              searchText += (OWNER.choices[key].placeholder + user.email + ' ');
          }
          if (forms.starred.val) searchText += forms.starred.placeholder + ' ';
          if (forms.trash.val) searchText += forms.trash.placeholder + ' ';

          key = MODIFIED_TYPE.findKeyById(forms.modifiedType.val);
          if (forms.modifiedType.val) searchText += (
            (key === null || forms.modifiedType.val === MODIFIED_TYPE.constant.RANGE)
              ? '' : MODIFIED_TYPE.choices[key].placeholder + ' '
          );
          if (forms.itemNameTitle.val) searchText += 'title:' + forms.itemNameTitle.val + ' ';
          if (forms.containWords.val) searchText += forms.containWords.val;
          if (searchText.trim()) this.setSearchText(searchText);
        },
        deep: true
      },
      'forms.owner.val': function (val) {
        if (val !== OWNER.constant.SPECIFIC) this.forms.users.val = null;
        else this.userSearch();
      },
      'globalSearchType.val': {
        handler: function (val) {
          if (val === SEARCH_ADVANCED_TYPE.val) {
            this.searchText = SEARCH_ADVANCED_TYPE.placeholder;
          } else if (val === SEARCH_TYPE.constant.ALL) {
            this.searchText = SEARCH_TYPE.choices.ALL.placeholder;
          } else {
            this.basicSearch(val);
            let key = SEARCH_TYPE.findKeyById(val);
            if (key in SEARCH_TYPE.choices) this.searchText = SEARCH_TYPE.choices[key].placeholder;
          }
        },
      },
    },
    directives: {
      'handle-click-outside': {
        bind: function (el, binding, vNode) {
          if (typeof binding.value !== 'function') console.warn('Should not use function');
          // Define Handler and cache it on the element
          const bubble = binding.modifiers.bubble;
          const handler = (e) => {
            if (bubble || (!el.contains(e.target) && el !== e.target)) {
              binding.value(e);
            }
          };
          el.__vueClickOutside__ = handler;
          document.addEventListener('click', handler);
        },
        unbind: function (el, binding) {
          // Remove Event Listeners
          document.removeEventListener('click', el.__vueClickOutside__);
          el.__vueClickOutside__ = null
        }
      }
    }
  });
</script>

<style>
    .input-search input.md-input, label.text-search {
        color: #9e9e9e !important;
        -webkit-text-fill-color: #9e9e9e !important;
    }

    .invisible-focus {
        outline: none !important;
    }

    .md-toolbar, .md-toolbar-row {
        will-change: unset !important;
    }

    .dropdown-search.show .dropdown-search-menu {
        display: block;
    }

    .dropdown-search-backdrop {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 900;
        background-color: #fcafca00;
    }

    .dropdown-search-menu {
        max-height: 100vh; /**for overflow*/
        overflow-y: auto; /**for overflow*/
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
    }

    .search-input {
        padding: 0 28px;
    }

    .search-close {
        right: 0;
    }

    .search-clear-user {
        right: 0;
        margin-right: 24px;
    }

    .color-grey {
        color: #bdbdbd !important;
    }

    .color-grey-600 {
        color: #757575 !important;
    }
</style>

</body>
</html>
